body{
  background: url('./assets/bg.jpg') no-repeat;
  background-size: cover;

  color:#fff;
}
a{color:#fff;}
.center{
    margin: 0 auto;
width: 530px;
}
.App {
  text-align: center;
  width:1024px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.text-red{color:red; font-weight: bold; font-size:20px;    width: 100%;}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
